.left-panel {
  width: 277px;
  background-image: linear-gradient(to top, #a47dff,  #716dff);

  .company-name {
    padding: 28px 37px;
    margin-bottom: 72px;
    font-size: 46px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }

  .main-navigation, .secondary-navigation {
    .side-navigation {
      padding: 0;
      margin: 0;
      font-size: 13px;
      font-weight: 400;

      list-style: none;
      color: #f0f3f8;

      .navigation-item {
        padding: 15px 41px;
        opacity: .7;

        &.active, &:hover {
          opacity: 1;
          box-shadow: 3px 0px 0px 0px #ffffff inset;
          background-color: rgba(255, 255, 255, 0.1);
        }

        .fa {
          margin-right: 10px;
        }
      }
    }
  }

  .secondary-navigation {
    .secondary-heading {
      margin-top: 60px;
      margin-bottom: 20px;
      padding: 0 41px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff
    }
  }
}