.top-navigation {
  display: flex;
  height: 80px;
  align-items: center;
  color: #9ea5bd;

  .search-container {
    flex-grow: 1;
    
    .fa {
      margin-left: 39px;
      margin-right: 20px;
      font-size: 24px;
    }

    input {
      border: 0;
      color: #9ea5bd;
      font-size: 16px;
      
      &::placeholder {
        color: #9ea5bd;
      }

      &:focus{
        outline: none;
        color: #9ea5bd;
      }
    }
  }

  .secondary-heading {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 39px;
    padding-right: 51px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: solid 1px #dde1ee;
    border-right: solid 1px #dde1ee;
  }

  .user-controls {
    display: flex;
    padding: 0px 40px;
    align-items: center;

    .faux-user-picture {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border-radius: 4px;
      background-color: #000000;
    }

    .fa {
      font-size: 7px;
    }
  }
}