.App {
  width: 100%;
  display: flex;

  .main-section {
    flex-grow: 1;

    .content-area {
      width: 100%;
      background-color: #f0f3f8;

      .realtime-messages {
        padding: 60px 40px 40px;
        
        .section-heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
          
          .section-title {
            font-size: 30px;
            font-weight: 500;
          }

          .options-dropdown {
            display: flex;
            align-items: center;
            height: 27px;
            padding: 5px 20px;
            border-radius: 4px;
            background-color: #e5e7ff;
            color: #5361ff;
            font-size: 13px;

            .fa {
              margin-left: 4px;
              font-size: 7px;
            }
          }
        }

        .card-container {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          .message-card {
            min-height: 165px;
            border-radius: 8px;
            color: #ffffff;

            .top-half {
              display: flex;
              align-items: center;
              padding: 20px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);
              font-size: 13px;
              

              .icon-wrapper {
                display: inline-block;
                height: 36px;
                width: 36px;
                margin-right: 10px;
                font-size: 20px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);

                .inner-wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                }
              }
            }

            .bottom-half {
              padding: 20px;

              .primary-info {
                font-size: 24px;
                font-weight: 500;
              }

              .secondary-info {
                font-size: 16px;
              }
            }

            &.purple {
              background-image: linear-gradient(-45deg, #736dff, #a97fff);
              box-shadow: 0 48px 49px -32px #736dff;
            }

            &.orange {
              background-image: linear-gradient(-45deg, #f7c598, #ff8886);
              box-shadow: 0 48px 49px -32px #f7c598;
            }

            &.pink {
              background-image: linear-gradient(-45deg,  #9573db, #f9b4bd);
              box-shadow: 0 48px 49px -32px #9573db;
            }

            &.turquoise {
              background-image: linear-gradient(-45deg,  #4ebcfa, #44dec5);
              box-shadow: 0 48px 49px -32px #4ebcfa;
            }
          }
        }
      }

      .upload-chart {
        width: calc(100% - 60px);
        padding: 0px 60px 60px;

        .section-heading {
          display: flex;
          justify-content: space-between;
          border-bottom: 3px solid  rgba(150, 150, 150, 0.1);

          .section-title {
            font-size: 24px;
            font-weight: 500;
          }

          .chart-navigation {
            height: 100%;
            padding-bottom: 24px;
            
            .time-option {
              padding-bottom: 24px;
              font-size: 16px;
              font-weight: 500;
              color: #9ea5bd;
              margin-right: 42px;
              
              &.active, &:hover {
                color: #333d5f;
                box-shadow: 0px 4px 0px 0px #5361ff;
              }
              &:last-child {
                margin-right: 0px;
              }
            }
          }
        }

        .chart-container {
          height: 400px;
          margin-top: 40px;
        }
      }
    }
  }

}
