html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
  #root {
    height: 100%;
  }
}
